{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-page">

    <!-- LEFT CSS CHARACTER -->
    <div class="css-human">
    <div class="css-head">
        <div class="eye left"></div>
        <div class="eye right"></div>
    </div>

    <div class="css-body">
        <div class="hand left-hand"></div>
        <div class="hand right-hand"></div>
        <div class="css-heart"></div>
    </div>
</div>


    <!-- RIGHT LOGIN FORM -->
    <div class="login-box">
        <h2>Welcome Back</h2>
        <p>Login to GuidePuls</p>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <div class="login-links">
    <a href="{% url 'forgot_password' %}">Forgot Password?</a>

</div>

        </form>

        <div class="login-links">
            <a href="{% url 'register' %}">Create account</a>
        </div>
    </div>

</div>
{% endblock %}
