{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="register-page">

    <!-- LEFT VISUAL: BLOOD INJECTION -->
    <div class="register-visual">

        <div class="injector">
            <div class="syringe">
                <div class="needle"></div>
            </div>
            <div class="blood-flow"></div>
        </div>

        <h2>Become a Life Saver</h2>
        <p>Your registration can save lives</p>
    </div>

    <!-- RIGHT REGISTER FORM -->
    <div class="register-box">
        <h2>Create Account</h2>
        <p>Join GuidePuls today</p>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="cpassword" placeholder="Confirm Password" required>
            
            <button type="submit">Register</button>
        </form>
        {% if messages %}
    {% for msg in messages %}
        <p style="color:red;">{{ msg }}</p>
    {% endfor %}
{% endif %}

        <div class="register-links">
            <a href="{% url 'login' %}">Already have an account?</a>
        </div>
    </div>

</div>
{% endblock %}
